<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>        
        
        <title>{{ title }}</title>
    </head>

    <body>
        <div class="ui container">
            <div class="ui center aligned grid">
                <div class="row">
                    <h1>LOGO</h1>
                </div>
            </div>
            
            {% block content %}{% endblock %}
        </div>
    </body>
</html>

