{% extends "base.html" %}

{% block content %}
<div class="ui segment">
    <h2>Information about fit #{{ fit.id }}</h2>
    
    {% if fit.done %}
        <h3><i class="check icon"></i>&nbsp;Your fit is ready!</h3>
        
        <div class="ui bottom-padded"></div>
        
        <script src="../static/js/dropdown-init.js"></script>
        
        <form class="ui form">
            <div class="grouped fields">
                <label>Category</label>
                {% for field in superform.category %}
                    <div class="field">
                        <div class="ui radio checkbox">
                            {{ field }}
                            {{ field.label }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="field">
                <label>Promo budget</label>
                <div class="ui right labeled input">
                    {{ superform.promo_budget }}
                    <div class="ui basic label">
                        %
                    </div>
                </div>
            </div>

            <div class="ui icon primary button field">
                <i class="plus icon"></i>
            </div>
            
            <h2 style="display: inline;">&nbsp;{{ superform.per_entry_params.last_index + 1 }}&nbsp;</h2>
            
            <div class="ui icon primary button field">
                <i class="minus icon"></i>
            </div>
            
            {% for entryform in superform.per_entry_params %}
                <div class="ui segment">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Sale from</label>
                                <div class="ui right labeled input">
                                    {{ entryform.sale_from() }}
                                    <div class="ui basic label">
                                        %
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label>Sale to</label>
                                <div class="ui right labeled input">
                                    {{ entryform.sale_to() }}
                                    <div class="ui basic label">
                                        %
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="grouped fields">
                        <label>Promo type</label>
                        {% for field in entryform.promo_type %}
                            <div class="field">
                                <div class="ui radio checkbox">
                                    {{ field }}
                                    {{ field.label }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="field">
                        <label>Brand</label>
                        {{ entryform.brand(class_="ui search dropdown") }}
                    </div>
                    
                    <div class="field">
                        <label>Repeat count</label>
                        {{ entryform.repeat_count() }}
                    </div>
                </div>
            {% endfor %}
        </form>
        
        <div class="ui button">
            <i class="download icon"></i>
            Download results
        </div>
    {% else %}
        <h3><i class="spinner loading icon"></i>&nbsp;Please wait while your fit is being processed...</h3>
    {% endif %}
</div>
{% endblock %}
