<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>        
    </head>

    <body>
        <div class="ui container">
            <div class="ui center aligned grid">
                <div class="row">
                    <h1>LOGO</h1>
                </div>
            </div>
            
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <div class="ui segment">
                        <h2>Create a new fit</h2>
                        
                        <form class="ui form" method="post">
                            <div class="field">
                                <label>Input data</label>
                                <input type="file">
                            </div>
                            
                            <div class="field">
                                <label>Additional data</label>
                                <input placeholder="Some input">
                            </div>
                            
                            <div class="field">
                                <div class="ui tiny icon button">
                                    <i class="plus icon"></i>
                                </div>
                            </div>
                            
                            <div class="ui button">
                                Submit
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="six wide column">
                    <div class="ui segment">
                        <p>Already have an existing fit?</p>
                        <form class="ui form" method="post">
                            <div class="field">
                                <input placeholder="Fit ID">
                            </div>
                        
                            <div class="ui button">
                                <i class="search icon"></i>
                                Search
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

